.form {
    width: min(100%, 640px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.submitWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}