.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.datePickers {
    display: flex;
    gap: 50px;
}

.calendarWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}