.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 50px;
    font-family: var(--font-montserrat);
}

@media (max-width: 593px) {
    .main {
        padding: 16px;
    }
}