.passwordWrapper {
    width: 100%;
    position: relative;
}

.passwordControl {
    position: absolute;
    top: 17px;
    right: 20px;
    cursor: pointer;
}

.eye {
    color: #0000009c;
}

@media (max-width: 593px) {
    .passwordControl {
        top: 10px;
    }
}