.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.fieldsWrapper {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 20px 25px;
    width: 100%;
}

.submitWrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 50px;
}

@media (max-width: 593px) {
    .fieldsWrapper {
        display: flex;
        flex-direction: column;
    }
}